.container{
    margin-top: 50px;
    background-color: burlywood;
    height: 270px;
    padding-top: 50px;
}
#list{
    margin-left: 50px;
    margin-top: 50px;
    background-color: coral;
    height: 110px;
    padding-top: 20px;
    width: 200px;
    color: white;
    font-weight: bold;
}
li{
    list-style: none;
}